body {
    font-family: Helvetica;
    background-color: #ddd;
    color: #222;
    padding: 0;
    margin: 2px;
}

h1 {
    color: #511;
    display: block;
    font-size: 21px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

h2 {
    background-color: #fff;
    border: 1px solid #222;
    color: #171;
    margin: -1px;
    display: block;
    font-size: 14px;
    padding: 7px;
    text-decoration: none;
}

h3 {
    display: block;
    color: #117;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    font-size: 10px;
}

ul {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
}

li {
    margin: 0px;
    padding: 0px;
}

.description {
    font-family: Courier;
    font-size: 12px;
}

.links {
    background-color: #ccc;
    border: 1px solid #222;
    margin: 5px;
    padding: 2px;
}

.imageBlock {
    text-align: center;
}

.image {
    max-width: 100%;
}

.imageCaption {
    font-style: italic;
    font-size: 12px;
}